<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro - Algo deu errado</title>
    <link th:href="@{/styles/register.css}" rel="stylesheet">
</head>
<body>
<div class="error-container">
    <p th:text="${errorMessage}">Algo deu errado. Por favor, tente novamente mais tarde.</p>
    <a class="btn btn-primary" th:href="@{/users(page=0, linesPerPage=24, orderBy=name, direction=ASC)}">
        Voltar a página inicial
    </a>
</div>
</body>
</html>