<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link th:href="@{/styles/listregister.css}" rel="stylesheet">
</head>
<body>
<div>
    <a class="btn btn-primary" th:href="@{/users(page=0, linesPerPage=24, orderBy=name, direction=ASC)}">
        Voltar a página inicial
    </a>
</div>
<div>
    <a class="btn btn-primary" th:href="@{/new-address/{userId}(userId=${userId})}">Cadastrar novo endereço</a>
</div>
<h1>Lista de endereços</h1>
<table>
    <thead>
    <tr>
        <th>
            Logradouro
            <span class="sort-icons">
                <span class="sort-icon" title="Ordenar Ascendente">
                    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.firstPageNumber}, linesPerPage=${addresses.size}, orderBy=publicArea, direction=ASC)}">
                        <svg class="sort-icon" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                            <path d="M12 7l-5 5h10z"/>
                        </svg>
                    </a>
                </span>
                <span class="sort-icon" title="Ordenar Descendente">
                    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.firstPageNumber}, linesPerPage=${addresses.size}, orderBy=publicArea, direction=DESC)}">
                        <svg class="sort-icon" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                            <path d="M12 17l5-5H7z"/>
                        </svg>
                    </a>
                </span>
            </span>
        </th>
        <th>
            Cidade
            <span class="sort-icons">
                <span class="sort-icon" title="Ordenar Ascendente">
                    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.firstPageNumber}, linesPerPage=${addresses.size}, orderBy=city, direction=ASC)}">
                        <svg class="sort-icon" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                            <path d="M12 7l-5 5h10z"/>
                        </svg>
                    </a>
                </span>
                <span class="sort-icon" title="Ordenar Descendente">
                    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.firstPageNumber}, linesPerPage=${addresses.size}, orderBy=city, direction=DESC)}">
                        <svg class="sort-icon" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                            <path d="M12 17l5-5H7z"/>
                        </svg>
                    </a>
                </span>
            </span>
        </th>
        <th>
            Estado
            <span class="sort-icons">
                <span class="sort-icon" title="Ordenar Ascendente">
                    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.firstPageNumber}, linesPerPage=${addresses.size}, orderBy=state, direction=ASC)}">
                        <svg class="sort-icon" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                            <path d="M12 7l-5 5h10z"/>
                        </svg>
                    </a>
                </span>
                <span class="sort-icon" title="Ordenar Descendente">
                    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.firstPageNumber}, linesPerPage=${addresses.size}, orderBy=state, direction=DESC)}">
                        <svg class="sort-icon" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                            <path d="M12 17l5-5H7z"/>
                        </svg>
                    </a>
                </span>
            </span>
        </th>
        <th>
            <div th:object="${addresses}">
                <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.firstPageNumber}, linesPerPage=${addresses.size}, orderBy=zipCode, direction=${addresses.direction})}">CEP</a>
            </div>
        </th>
        <th>
            <div th:object="${addresses}">
                <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.firstPageNumber}, linesPerPage=${addresses.size}, orderBy=createdDate, direction=${addresses.direction})}">Data</a>
            </div>
        </th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addresses.content}">
        <td th:text="${address.publicArea}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.state}"></td>
        <td th:text="${address.zipCode}"></td>
        <td th:text="${address.createdDate}"></td>
        <td class="actions">
            <a class="btn btn-primary" th:href="@{/edit-address/{userId}/{addressId}(userId=${userId}, addressId=${address.id})}">Editar</a>
        </td>
    </tr>
    </tbody>
</table>
<div th:object="${addresses}" th:if="${addresses.totalPages > 1}" class="pagination">
    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.firstPageNumber}, linesPerPage=${addresses.size}, orderBy=${addresses.orderBy}, direction=${addresses.direction})}">Primeiro</a>
    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.nextPageNumber}, linesPerPage=${addresses.size}, orderBy=${addresses.orderBy}, direction=${addresses.direction})}">Próximo</a>
    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.previousPageNumber}, linesPerPage=${addresses.size}, orderBy=${addresses.orderBy}, direction=${addresses.direction})}">Anteior</a>
    <a th:href="@{/addresses/{userId}(userId=${userId}, page=${addresses.lastPageNumber}, linesPerPage=${addresses.size}, orderBy=${addresses.orderBy}, direction=${addresses.direction})}">Último</a>
</div>
</body>
</html>