<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link th:href="@{/styles/listregister.css}" rel="stylesheet">
</head>
<body>
<div>
    <a class="btn btn-primary" th:if="${session.userSession.admin}" th:href="@{/new-user}">Cadastrar novo usuário</a>
</div>
<div>
    <a class="btn btn-primary" th:href="@{/login}">Sair</a>
</div>
<div class="welcome-container">
    <h1><span th:text="${session.userSession.userAccountProfileDto.name}">Usuário</span>!</h1>
</div>
<h1>Lista de Usuários</h1>
<table>
    <thead>
    <tr>
        <th>
            <div th:object="${users}">
                <a th:href="@{/users(page=${users.firstPageNumber}, linesPerPage=${users.size}, orderBy=name, direction=${users.direction})}">Nome</a>
            </div>
        </th>
        <th>
            <div th:object="${users}">
                <a th:href="@{/users(page=${users.firstPageNumber}, linesPerPage=${users.size}, orderBy=email, direction=${users.direction})}">E-Mail</a>
            </div>
        </th>
        <th>
            <div th:object="${users}">
                <a th:href="@{/users(page=${users.firstPageNumber}, linesPerPage=${users.size}, orderBy=createdDate, direction=${users.direction})}">Data</a>
            </div>
        </th>
        <th>Endereços</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users.content}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.createdDate}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{/addresses/{userId}(userId=${user.id}, page=0, linesPerPage=10, orderBy=publicArea, direction=ASC)}">Endereços</a>
        </td>
        <td class="actions">
            <a class="btn btn-primary" th:href="@{/edit-user/{id}(id=${user.id})}">Editar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
<div th:object="${users}" th:if="${users.totalPages > 1}">
    <a th:href="@{/users(page=${users.firstPageNumber}, linesPerPage=${users.size}, orderBy=${users.orderBy}, direction=${users.direction})}">Primeiro</a>
    <a th:href="@{/users(page=${users.nextPageNumber}, linesPerPage=${users.size}, orderBy=${users.orderBy}, direction=${users.direction})}">Próximo</a>
    <a th:href="@{/users(page=${users.previousPageNumber}, linesPerPage=${users.size}, orderBy=${users.orderBy}, direction=${users.direction})}">Anteior</a>
    <a th:href="@{/users(page=${users.lastPageNumber}, linesPerPage=${users.size}, orderBy=${users.orderBy}, direction=${users.direction})}">Último</a>
</div>
</html>