<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
    <link th:href="@{/styles/register.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div>
        <a class="btn btn-primary" th:href="@{/users(page=0, linesPerPage=24, orderBy=name, direction=ASC)}">
            Voltar a página inicial
        </a>
    </div>
    <h1>Cadastrar Usuário</h1>
    <form th:action="@{/save-user}" method="post">
        <div class="field">
            <label for="name">Nome:</label>
            <p class="error-message" th:if="${name}" th:text="${name}"></p>
            <input type="text" id="name" name="name" th:value="${user.name}" required min="10" maxlength="100" placeholder="Digite seu nome">
        </div>
        <div class="field">
            <label for="email">E-Mail:</label>
            <p class="error-message" th:if="${email}" th:text="${email}"></p>
            <p class="error-message" th:if="${userEmailConflit}" th:text="${userEmailConflit}"></p>
            <input type="text" id="email" name="email" th:value="${user.email}" required minlength="4" maxlength="100" placeholder="Digite seu email">
        </div>
        <div class="field">
            <label for="password">Senha:</label>
            <p class="error-message" th:if="${password}" th:text="${password}"></p>
            <input type="password" id="password" name="password" th:value="${user.password}" required minlength="8" maxlength="20" placeholder="Digite sua senha">
        </div>
        <div class="field field-select">
            <label for="role">Role:</label>
            <p class="error-message" th:if="${role}" th:text="${role}"></p>
            <select id="role" name="role" required>
                <option value="" disabled>Escolha uma opção</option>
                <option th:each="profile : ${profiles}"
                        th:value="${profile}"
                        th:text="${profile}">
                </option>
            </select>
        </div>
        <div><br><br>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>
</body>
</html>